body {
  width: 40em;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

textarea {
  width: 40em;
  height: 10em;
}

#save-button {
  margin: 1em 1.3em 1em 0;
}

.save-options {
  display: flex;
  flex-wrap: wrap;
}

label {
  padding: 0.2em 0;
}

label:hover {
  background-color: #eaeff2;
}

.title {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

h1 {
  position: relative;
  width: 40em;
  font-size: 1em;
  padding: 0.25em 0;
  margin-top: 20px;
}

h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(2, 74, 135), transparent);
  background: linear-gradient(to right, rgb(2, 74, 135), transparent);
}

h2 {
  font-size: 1em;
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #4096e6;
}

#filename_definition {
  width: 100%;
}


table *, table *:before, table *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
table {
	width: 100%;
  border-collapse: collapse;
  margin-top:20px;
}
table th {
	width: 13%;
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #dddddd;
}
table td {
	text-align: left;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #dddddd;
}